body{
    width: 70%;
    font-size: 20px;
    margin:auto;
}

section{ 
    max-width: 80%;
    margin: auto; 
    display: grid;
    grid-template-columns: repeat( 12, 1fr) ;
    grid-auto-rows: (12rem, auto );
    gap:1rem;
}

section h1{
    grid-column: span 12;
    text-align: center;
}



.tekst-bilde{
/*background-color: aquamarine;*/
grid-column: span 8;
padding: 5px;
text-align: center;
border: black solid 2px;
}

.bilde{
    grid-column: span 4;
    object-fit: contain;
    object-position: center;
}

.loddrett-meny{
    grid-column: span 4;
    grid-row: span 6;
    /*background-color: deeppink; */
    border: black solid 2px;
}
.loddrett-meny h2, p{
    text-align: center;
}
.vannrett-meny {
   /* padding-left: 4px; padding-right: 4px; */
    margin-left: 5px;
    grid-column:span 8;
   /* background-color: coral;*/
    grid-row: span 3;
    border: black solid 2px;
    padding: 1%;
}

table{
    width: 100%;
    height: 100%;
}

td{
    border: black solid 1px;
}
th {border: black solid 1px;}

.gule-bokse-1{
    grid-column: span 4;
    grid-row: span 3;
    border: black solid 2px;
    background-color:yellow;
}

.gule-bokse-2{
    grid-column: span 4;
    background-color: yellow;
    grid-row: span 3;
    border: black solid 2px;
}

.Øveingsoppgave{
    grid-column: span 12;
    border: black solid 2px;
}




