body {
    background-color:grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:cornsilk;
}

h1{
    color:crimson; font-size: 50px; 
    font-style: oblique;
}

h2,h3{
    color:gainsboro;
    font-style: oblique;
}

ol{
    float:left;
}

ul{
    float:left;
}